{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Let's Chat!</h1>

      <p class="subtitle">Welcome to {{title}}</p>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
          <script type="text/javascript">
              var source = new EventSource('/update-stream');

              source.onmessage = function(e) {
                  console.log(e);
                  var messageObject = JSON.parse(e.data);
                  if(messageObject.msgtype == "text") {
                      $('ul').append('<li id="msg' + e.lastEventId + '">' + messageObject.content + ' (message id: ' +
                              e.lastEventId + ', sender: <img  style="max-height: 64px; max-width: 64px;" id="sender" alt="' + messageObject.from +
                              '">)<a sender="' + messageObject.from + '"> Reply</a></li>');
                  } else if (messageObject.msgtype == "image"){
                      $('ul').append('<li id="msg' + e.lastEventId + '">' + '<img src="' +  messageObject.img + '" style="max-height: 300px; max-width: 300px;"/> (message id: ' +
                              e.lastEventId + ', sender: <img  style="max-height: 64px; max-width: 64px;" id="sender" alt="' + messageObject.from +
                              '">)<a sender="' + messageObject.from + '"> Reply</a></li>');
                  }

                  $.get("/getuserinfo?openId=" + messageObject.from,
                      function(data, status){
                          var userinfo = JSON.parse(data);
                          console.log(userinfo);
                          $('img[alt="' + messageObject.from + '"]').attr("src", userinfo.headimgurl).attr("alt", userinfo.nickname);
                      }
                  );

                  $("li#msg" + e.lastEventId + " > a").on('click', function(e) {
                      $(this).parent().append($('<form method="post" class="aui"><div class="field-group"><input class="text" type="hidden" value="' +
                              $(this).attr("sender") +'" id="touser" title="touser" disabled>' +
                              '<input class="text" id="text">' +
                              '<input type="button" class="button submit" value="Send" id="sendButton" /></div></form>'));


                      $(this).parent().find("#sendButton").on('click', function(e){
                          var postdata = {
                              touser: $(this).parent().find("#touser").val(),
                              text: $(this).parent().find("#text").val()
                          };
                          var formURL = "/sendmessage";
                          $.ajax(
                                  {
                                      url : formURL,
                                      type: "POST",
                                      data : postdata,
                                      success:function(data, textStatus, jqXHR)
                                      {
                                          console.log('sent');
                                      },
                                      error: function(jqXHR, textStatus, errorThrown)
                                      {
                                          console.log('failed to send');
                                      }
                                  });
                      });
                  });
              };

          </script>
          <ul />
      </div>
    </section>
  </div>
</div>